// 清除浮动
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 多行文本溢出省略号
$text-overflow-total: 5;
@while $text-overflow-total >= 2 {
  .text-overflow-#{$text-overflow-total} {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $text-overflow-total;
  }

  $text-overflow-total: $text-overflow-total - 1;
}

// 字体大小
$total-font: 30;
@while $total-font>=11 {
  .fs-#{$total-font} {
    font-size: #{$total-font}px !important;
  }

  $total-font: $total-font - 1;
}

// 字体粗细
$total-font-weight: 900;
@while $total-font-weight >= 400 {
  .fw-#{$total-font-weight} {
    font-weight: #{$total-font-weight} !important;
  }

  $total-font-weight: $total-font-weight - 100;
}

// 鼠标指针类型
.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}


