@keyframes lu-animation-name-scale {
  0% {
    transform: scale(1.3);
  }

  33% {
    transform: scale(0.6);
  }

  66% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.lu-animate--scale {
  animation-name: lu-animation-name-scale;
  animation-timing-function: ease-in;
}
