$--theme-color: #0097C7;

/*
 * 2.
 *
  <div class="lu-loading--wave">
    <div class="lu-loading--wave__child"></div>
    <div class="lu-loading--wave__child"></div>
    <div class="lu-loading--wave__child"></div>
    <div class="lu-loading--wave__child"></div>
    <div class="lu-loading--wave__child"></div>
  </div>
 *
 */
 .lu-loading--wave {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  &__child {
    background-color: $--theme-color;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: lu-loading--wave 1.2s infinite ease-in-out;

    &:nth-of-type(1) {
      animation-delay: -1.2s;
    }
    &:nth-of-type(2) {
      animation-delay: -1.1s;
    }
    &:nth-of-type(3) {
      animation-delay: -1s;
    }
    &:nth-of-type(4) {
      animation-delay: -0.9s;
    }
    &:nth-of-type(5) {
      animation-delay: -0.8s;
    }
  }
}

@keyframes lu-loading--wave {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}